git+https://github.com/vmenger/deduce@fast-temp#egg=deduce
flask_restx==0.5.1
pytest==6.2.2
# See https://stackoverflow.com/questions/73105877/importerror-cannot-import-name-parse-rule-from-werkzeug-routing
werkzeug==2.1.2

